---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import SeinfeldImg from "../assets/seinfeld-jason-alexander.png";
---

<Layout title="Welcome to Astro.">
	<main>
		<Image class="img-main" src={SeinfeldImg} alt="A description of my image." />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		.img-main {
			width: 100%;
			height: auto;
		}
	}

</style>
